.NavBar {
    background-color: #7CD2B3;
    color: white;
    display: flex;
    justify-content: left;
  }
  button{
      background-color: green;
      text-align: right;
      border: 2px, black;
  }
  h1{
    color: black;
  }